.addition{
  max-width: 915px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-top: 180px;
  margin-bottom: 93px;
}
.addition__images{
  max-width: 505px;
  width: 100%;
  min-height: 261px;
  margin-top: 11px;
  margin-bottom: 10px;
}
.addition__img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.addition__content{
  max-width: 382px;
  height: 282px;
  margin-top: -5px;
 
}
.addition__title{
  font-family: 'Georgia';
font-style: normal;
font-weight: 400;
font-size: 35px;
line-height: 130%;
letter-spacing: 0.06em;
color: #545454;
margin: 0;
margin-bottom: 20px;
max-width: 300px;
}
.addition__subtitle{
  font-family: 'Georgia';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 110%;
letter-spacing: 0.06em;
color: #545454;
margin-bottom: 20px;
}
.credit{
  display: block;
  max-width: 349px;
  width: 100%;
  height: 43px;
  background: #F1CDB3;
  border-radius: 9px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  margin-bottom: 20px;
}
.credit__img{
  width: 30px;
  height: 23px;
}
.credit__title{
  font-family: 'Georgia';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 115%;
letter-spacing: 0.06em;
color: #545454;

}
.addition__subtitle2{
  font-family: 'Arial';
font-style: italic;
font-weight: 400;
font-size: 12px;
line-height: 18px;
color: #B2B2B2;
}